.theme-switch {
	display: flex;
	align-items: center;

	padding: 15px 0;
}

.theme-switch__toggle {
	cursor: pointer;

	position: relative;

	display: inline-block;

	width: 42px;
	height: 25px;
	margin: 0;

	vertical-align: top;

	background: var(--light-text-color);
	border: 1px solid var(--light-text-color);
	border-radius: 30px;
	outline: none;

	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

	appearance: none;
}

.theme-switch__toggle::after {
	content: '';

	position: absolute;
	top: 1.5px;
	left: 2px;
	transform: translateX(0);

	display: inline-block;

	width: 20px;
	height: 20px;

	background-color: #e4e7ea;
	border-radius: 50%;

	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.theme-switch__toggle:checked::after {
	transform: translateX(calc(100% - 5px));

	background-color: var(--dark-text-color);
}

.theme-switch__toggle:checked {
	background-color: #434547;
}

.theme-switch__title {
	margin-left: 10px;

	font-size: 16px;
}
