.wrapper {
	width: 100%;
	height: 100%;
	background: #e4e7ea;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper--dark {
	background: #2b2e31;
	color: var(--light-text-color);
}

.container {
	width: 350px;
	height: 610px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 15px 15px 0 15px;
	box-shadow: 0 0 25px #afb2b6;
}

.wrapper--dark .container {
	background: #424547;
	box-shadow: 0 0 25px #424547;
}

@media screen and (max-width: 360px) {
	.container {
		width: 280px;
		height: 520px;
	}
}
