.result-field__value {
	font-weight: 600;
	font-size: 55px;
	width: 100%;
	text-align: right;
	color: var(--dark-text-color);
}

.wrapper--dark .result-field__value {
	background: #424547;
	color: var(--light-text-color);
}

@media screen and (max-width: 360px) {
	.result-field__value {
		font-size: 45px;
	}
}
