.result-field__value {
	width: 100%;

	font-size: 55px;
	font-weight: 600;
	color: var(--dark-text-color);
	text-align: right;
}

.wrapper--dark .result-field__value {
	color: var(--light-text-color);

	background: #424547;
}

@media screen and (max-width: 360px) {
	.result-field__value {
		font-size: 45px;
	}
}
