.clear {
	color: #fff;

	background: url('../../assets/clear.png');
	background-color: #f2bb4e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	box-shadow: 2px 2px 5px #f2bb4e;
}

.plus-minus {
	background: url('../../assets/plus-minus.png');
}

.backspace {
	background: url('../../assets/backspace.png');
	background-size: 40% !important;
}

.backspace,
.plus-minus {
	color: #ceb781;

	background-color: #f5f1e6;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	box-shadow: 2px 2px 5px #ceb781;
}

.wrapper--dark .plus-minus,
.wrapper--dark .backspace {
	background-color: #866240;
	box-shadow: 2px 2px 5px #a8916a;
}

.divide {
	background: url('../../assets/divide.png');
	background-size: 30%;
}

.multiply {
	background: url('../../assets/multiply.png');
	background-size: 30%;
}

.minus {
	background: url('../../assets/minus.png');
	background-size: 25%;
}

.plus {
	background: url('../../assets/plus.png');
	background-size: 25%;
}

.multiply,
.minus,
.plus,
.divide {
	color: #683796;

	background-color: #dfd5e7;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 2px 2px 5px #683796;
}

.wrapper--dark .multiply,
.wrapper--dark .minus,
.wrapper--dark .plus,
.wrapper--dark .divide {
	background-color: #8f6cc4;
	box-shadow: 2px 2px 5px #7b36d2;
}

.result {
	flex: 1;

	margin-right: 0 !important;

	color: #fff;

	background: url('../../assets/equal.png');
	background-color: #8531da;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	border-radius: 50px !important;
	box-shadow: 2px 2px 5px #683796;
}
